{% extends 'page.html.twig' %}

{% set pageClass = 'about h-card' %}

{% block title %}About Me{% endblock %}

{% block content %}
    <article>
        <h1>About Me</h1>
        <div class="p-note">
            <p>I&rsquo;m <a href="https://ben.ramsey.dev/" rel="me" class="u-url u-uid"><strong class="p-name"><span class="p-given-name">Ben</span> <span class="p-family-name">Ramsey</span></strong></a>, and I love writing software. You might say I&rsquo;m passionate about it, but I&rsquo;m quick to point out that passion is not a defining characteristic of great programmers. Great programmers understand software and how we create it is not the central concern of computing; <a href="https://ethics.acm.org/code-of-ethics/#h-3.1-ensure-that-the-public-good-is-the-central-concern-during-all-professional-computing-work.">people are</a>.</p>
            <p>For more than 25 years, I&rsquo;ve dedicated myself to creating people-oriented software, software that solves real-world problems and strives to make the lives of those who use it a little better. From empowering folks to turn their hobbies into careers to enabling users to learn new skills and tap into their creativity, I&rsquo;ve worked on a wide range of products and have had the privilege of working with and learning from some of the greatest people in the industry. <a href="https://www.linkedin.com/in/benramsey/" rel="me" class="u-url">My LinkedIn profile</a> lists the companies I&rsquo;ve worked with.</p>
            <p>Since the early days of my career, I&rsquo;ve been involved in open source software. While far from perfect, there are some amazing people working within various open source communities to bring a more empathetic, people-centric focus to the way we create software. I contribute to open source because of the people and relationships I&rsquo;ve forged in these communities. Some of the projects I work on are: the <a href="https://www.php.net">PHP programming language</a> (as a release manager for versions 8.1 and 8.2), <a href="https://github.com/ramsey/uuid">ramsey/uuid</a>, and <a href="https://github.com/php-ecma-intl/ext">pecl/ecma_intl</a>. Check out <a href="https://github.com/ramsey" rel="me" class="u-url">my GitHub profile</a> for more.</p>
            <p>I like sharing what I&rsquo;ve learned. I&rsquo;ve spoken at many conferences, including OSCON, ZendCon, and php[tek]. I&rsquo;ve published a number of magazine articles, and I&rsquo;ve contributed to a few books. I stand on the shoulders of many giants, and this is part of how I pass along my knowledge, just as others have passed theirs on to me. Slides for all of my presentations are on <a href="https://speakerdeck.com/ramsey" rel="me" class="u-url">my Speaker Deck profile</a>.</p>
            <!--email_off--><p>If you&rsquo;d like to get in touch, you may reach me by <a href="mailto:ben@ramsey.dev" class="u-email">email</a>, follow me in the Fediverse (on Mastodon) at <a href="https://phpc.social/@ramsey" rel="me" class="u-url">@ramsey@phpc.social</a>, or chat with me on IRC (<a href="https://libera.chat">Libera</a>) or <a href="https://matrix.org">Matrix</a>, where I&rsquo;m <strong>ramsey</strong> and <strong>@ben:ramsey.dev</strong>, respectively.</p><!--/email_off-->
            <p>When not writing software, I hang out in Nashville with my family. I also play TTRPGs and video games. I love to play chess, but I&rsquo;m awful. Craft beer and rye whiskey are my drinks of choice.</p>
        </div>
    </article>
{% endblock %}
