.allowed-licenses
.dockerignore
.editorconfig
.git/
.gitattributes
.github/
.gitignore
bin/
build/
captainhook.json
CHANGELOG.md
codecov.yml
CODE_OF_CONDUCT.md
config/autoload/development.local.php
config/development.config.php
CONTRIBUTING.md
conventional-commits.json
Dockerfile
docs/
phpcs.xml.dist
phpstan.neon.dist
phpunit.xml.dist
psalm-baseline.xml
psalm.xml
SECURITY.md
tests/
vendor/
