{% extends 'page.html.twig' %}

{% set pageClass = 'copyright' %}

{% block title %}Copyright Notice{% endblock %}

{% block content %}
    <article>
        <h1>Copyright Notice</h1>
        <p about="https://ben.ramsey.dev/#" typeof="schema:WebSite">Unless otherwise stated, <span property="schema:abstract">all content, excluding code examples, on this website</span> is Copyright &copy; <span resource="https://ben.ramsey.dev/about" rel="cc:attributionUrl" property="cc:attributionName schema:copyrightHolder schema:creator">Ben Ramsey</span> and is licensed for use under the terms of <a rel="license" property="cc:license schema:license" type="text/html" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International (CC-BY-SA-4.0)</a>.</p>
        <p about="https://ben.ramsey.dev/#examples" typeof="schema:SoftwareSourceCode">Code examples within the content of this website, unless indicated otherwise, are marked with <a rel="license" property="cc:license schema:license" type="text/html" href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0 Universal (CC0-1.0)</a> and dedicated to the public domain. To the extent possible under law, <span property="schema:creator">Ben Ramsey</span> has waived all copyright and related or neighboring rights to <span property="schema:abstract">the code examples appearing within the content of this website</span>. This work is published from the <span property="schema:location" typeof="schema:AdministrativeArea"><span property="schema:name">United States</span></span>.</p>
        <p about="https://github.com/ramsey/website" typeof="schema:SoftwareSourceCode">Except where otherwise noted, <a property="schema:abstract" href="https://github.com/ramsey/website">all source code for this website</a> is Copyright &copy; <span resource="https://ben.ramsey.dev/about" rel="cc:attributionUrl" property="cc:attributionName schema:copyrightHolder schema:creator">Ben Ramsey</span> and contributors and is licensed for use under the terms of the <a rel="license" property="cc:license schema:license" type="text/html" href="https://www.gnu.org/licenses/agpl-3.0.html">GNU Affero General Public License (AGPL-3.0-or-later)</a> as published by the Free Software Foundation.</p>
    </article>
{% endblock %}
