{
    supervisor {
        php-fpm
    }
}

:8080
root * /app/public
php_fastcgi 127.0.0.1:9000
encode zstd gzip
file_server

header {
    # Disable FLoC tracking
    Permissions-Policy interest-cohort=()

    # Enable HSTS with preloading; https://hstspreload.org
    Strict-Transport-Security max-age=10; includeSubDomains; preload

    # https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy
    Referrer-Policy strict-origin-when-cross-origin
}

log {
    output stdout
    format console
}
