FallbackResource /index.php

<FilesMatch "\.(css|gif|html|ico|jpg|js|pdf|png|svg|txt|woff2|xml)$">
Header set Cache-Control "max-age=604800, public"
</FilesMatch>

RewriteEngine on

# If the host isn't `ben.ramsey.dev`, then redirect to `ben.ramsey.dev`.
RewriteCond "%{HTTP_HOST}" "!^ben\.ramsey\.dev$" [NC]
RewriteCond "%{HTTP_HOST}" "!^$"
# Don't do this redirect for `ramsey.dev`; we want to temporary redirect for it.
RewriteCond "%{HTTP_HOST}" "!^ramsey\.dev$" [NC]
# Allow requests to /.well-known/openpgpkey/ for any host.
RewriteCond "%{REQUEST_URI}" "!^/\.well-known/openpgpkey/"
# Allow requests to /.well-known/webfinger for any host.
RewriteCond "%{REQUEST_URI}" "!^/\.well-known/webfinger"
# Allow requests to /.well-known/keybase.txt for any host.
RewriteCond "%{REQUEST_URI}" "!^/\.well-known/keybase\.txt$"
RewriteRule "^/?(.*)" "https://ben.ramsey.dev/$1" [L,NE,R=308]

# Do a temporary redirect for ramsey.dev.
RewriteCond "%{HTTP_HOST}" "^ramsey\.dev$" [NC]
# Don't do the redirect for /.well-known/webfinger.
RewriteCond "%{REQUEST_URI}" "!^/\.well-known/webfinger"
RewriteRule "^/?(.*)" "https://ben.ramsey.dev/$1" [L,NE,R=307]

# Keep both the original ETag and the modified one when compressing responses.
# See https://symfony.com/doc/current/http_cache/validation.html#validation-with-the-etag-header
RequestHeader edit "If-None-Match" '^"((.*)-(gzip|br))"$' '"$1", "$2"'
