FallbackResource /index.php

RewriteEngine on

# If the host isn't `ben.ramsey.dev`, then redirect to `ben.ramsey.dev`.
RewriteCond "%{HTTP_HOST}" "!^ben\.ramsey\.dev$" [NC]
RewriteCond "%{HTTP_HOST}" "!^$"

# Allow requests to /.well-known/openpgpkey/ for any host.
RewriteCond "%{REQUEST_URI}" "!^/\.well-known/openpgpkey/"

RewriteRule "^/?(.*)" "https://ben.ramsey.dev/$1" [L,NE,R=308]
