{% extends 'base.html.twig' %}

{% set pageClass = 'error' %}

{% block title %}Forbidden{% endblock %}

{% block body %}
    <div id="container">
        <h1>Forbidden</h1>
    </div>
{% endblock %}
