{% extends 'base.html.twig' %}

{% set pageClass = 'error' %}

{% block title %}Not Found{% endblock %}

{% block body %}
    <div id="container">
        <h1>Not Found</h1>
    </div>
{% endblock %}
