{% extends 'base.html.twig' %}

{%  set pageClass = 'error' %}

{% block title %}Ben Ramsey{% endblock %}

{% block body %}
    <div id="container">
        <h1>Unavailable</h1>
    </div>
{% endblock %}
