:root {
  --red: #ff2975;
  --orange: #ff901f;
  --goldenrod: #ffb21c;
  --yellow: #ffd319;
  --green: #3be528;
  --cyan: #03fff0;
  --pink: #ff19e8;
  --purple-black: #1a0017;
  --purple-dark: #4d0045;
  --white: #ffffff;
  --gray-light: #999999;
  --gray-dark: #666666;
  --black: #151515;

  //--color-accent: var(--red);
  //--color-background: var(--yellow);
  //--color-icon-base: var(--gray-dark);
  //--color-icon-hover: var(--black);
  //--color-link: var(--red);
  //--color-text: var(--black);

  //@media (prefers-color-scheme: dark) {
  --color-accent: var(--pink);
  --color-background-grad1: var(--purple-dark);
  --color-background-grad2: var(--purple-black);
  --color-background: var(--purple-black);
  --color-bold: var(--yellow);
  --color-icon-base: var(--gray-light);
  --color-icon-hover: var(--yellow);
  --color-link: var(--cyan);
  --color-text: var(--white);
  //}
}
