@media screen {
  body.br {
    nav {
      .icon {
        background-color: var(--color-icon-base);
        display: inline-block;

        &:hover {
          background-color: var(--color-icon-hover);
        }

        &.github {
          height: 64.725px;
          margin-top: 9px;
          width: 60.675px;

          -webkit-mask: url("../svg/github.svg") no-repeat center / contain;
          mask: url("../svg/github.svg") no-repeat center / contain;
        }

        &.mastodon {
          height: 67.35px;
          margin-top: 16.25px;
          width: 58.95px;

          -webkit-mask: url("../svg/mastodon.svg") no-repeat center / contain;
          mask: url("../svg/mastodon.svg") no-repeat center / contain;
        }

        &.linkedin {
          height: 74.925px;
          width: 65.55px;

          -webkit-mask: url("../svg/linkedin.svg") no-repeat center / contain;
          mask: url("../svg/linkedin.svg") no-repeat center / contain;
        }

        &.paper-plane {
          height: 52.425px;
          margin-top: 16px;
          width: 52.425px;

          -webkit-mask: url("../svg/paper-plane.svg") no-repeat center / contain;
          mask: url("../svg/paper-plane.svg") no-repeat center / contain;
        }
      }
    }
  }
}
