@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

.heading-permalink {
    text-decoration: none;
    color:transparent;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.heading-permalink:hover,
h1:hover .heading-permalink,
h2:hover .heading-permalink,
h3:hover .heading-permalink,
h4:hover .heading-permalink,
h5:hover .heading-permalink {
    text-decoration: none;
    @apply text-indigo-600;
}
