@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

.heading-permalink {
    @apply text-indigo-600;
    text-decoration: none;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    visibility: hidden;
}

.heading-permalink:hover,
h1:hover .heading-permalink,
h2:hover .heading-permalink,
h3:hover .heading-permalink,
h4:hover .heading-permalink,
h5:hover .heading-permalink {
    visibility: visible;
}

#app-main-content p:first-child {
    @apply mt-8 text-xl text-gray-500 leading-8;
}
