@use '../variables' as v;

html {
  font-size: 100%;
}

@media screen {
  body.br {
    background-color: var(--color-background);
    background-image: linear-gradient(to bottom, var(--color-background-grad1), var(--color-background-grad2) 60%);
    background-repeat: no-repeat;
    color: var(--color-text);
    font-family: Saira, sans-serif;
    margin: 0;
    overflow-x: clip;
    padding-top: 4em;
    width: 100%;

    @media (max-width: v.$viewportMedium) {
      padding-top: 2em;
    }

    div#container {
      margin: auto;
      width: 80%;

      @media (min-width: v.$viewportLarge) {
        width: 1106px;
      }
    }

    a {
      color: var(--color-link);
    }

    strong {
      color: var(--color-bold);
      font-weight: 700;
      font-style: normal;
    }

    // Screen reader, text-to-speech, and print only; visibly hidden on screen.
    .sr {
      border: 0;
      clip-path: inset(50%);
      height: 1px;
      margin: 0;
      overflow: hidden;
      padding: 0;
      position: absolute !important;
      white-space: nowrap;
      width: 1px;
    }

    .pr {
      display: none;
    }

    footer {
      font-weight: 100;
      margin: 3.125rem 0;
      text-align: center;

      p {
        margin: 0;

        &.logo {
          svg {
            fill: transparent;
            height: 39px;
            padding: 5px;
            stroke-width: 5px;
            stroke: var(--color-accent);
            width: 66.5px;
          }
        }
      }
    }
  }
}

@media print {
  body.br {
    .pr {
      display: inline;
    }

    footer {
      p.logo {
        display: none;
      }
    }
  }
}
