@use '../variables' as v;
@use '../functions' as f;

@media screen {
  body.br.home {
    padding-top: 6.875em;
    width: 100%;

    @media (min-width: v.$viewportMedium) {
      padding-top: 8em;
    }

    @media (max-width: v.$viewportSmallerest) {
      padding-top: 12em;
    }

    div#container {
      margin: auto;
      width: 80%;

      @media (min-width: v.$viewportLarge) {
        width: 1106px;
      }
    }

    header {
      hgroup {
        display: block;
        font-size: 1rem;
        float: left;
        text-transform: uppercase;
        width: 100%;

        h1 {
          -webkit-text-stroke: 2px var(--color-text);
          display: block;
          font-family: "Archivo Black", sans-serif;
          font-size: f.font-scale(10em, 3.8em, v.$viewportLarge, v.$viewportSmaller);
          font-weight: 400;
          letter-spacing: -0.05em;
          line-height: 0.706em;
          margin: 0;
          transform-origin: left top;
          transform: scaleX(1.06);
          width: 100%;

          @media (max-width: v.$viewportSmallest) {
            font-size: f.font-scale(5em, 1em, v.$viewportSmallest, 50px);
          }

          .ben {
            display: inline-block;
            width: auto;

            .b, .e, .n {
              display: inline-block;
              transform: scale(-1, 1);
            }

            .b {
              -webkit-text-fill-color: transparent;
            }

            .n {
              -webkit-text-stroke-color: var(--color-accent);
              -webkit-text-fill-color: var(--color-accent);
            }
          }

          .ramsey {
            display: inline-block;
            margin-left: 2.047em;
            width: auto;

            @media (max-width: v.$viewportSmaller) {
              margin: 2px auto 0 auto;
              text-align: right;
              width: 100%;
            }

            @media (max-width: v.$viewportSmallest) {
              margin-left: 1.1em;
              text-align: left;

              .sey {
                display: block;
                margin-left: -1.1em;
              }
            }

            .r {
              -webkit-text-fill-color: transparent;
            }
          }
        }

        h2 {
          font-size: f.font-scale(1em, 0.6em, v.$viewportLarge, v.$viewportSmall);
          line-height: 1.45em;
          margin-top: -4.55em;

          @media (max-width: v.$viewportMedium) {
            margin-top: 2.5em;
          }

          span.descriptor {
            display: block;
            font-family: Sarabun, sans-serif;
            font-size: 2em;
            font-style: italic;
            font-weight: 500;
            margin: 0;
            padding: 0;

            @media (max-width: v.$viewportMedium) {
              display: inline-block;
              padding-right: 0.5em;

              &::before {
                content: ' \\ ';
              }
            }
          }
        }
      }

      nav {
        float: right;
        margin-top: -25%;

        @media (max-width: v.$viewportMedium) {
          left: auto;
          margin-top: 3em;
          position: absolute;
          top: 0;
          width: 80%;
        }

        @media (max-width: v.$viewportSmallest) {
          left: 0;
          width: 100%;
        }

        @media (max-width: v.$viewportSmallerest) {
          left: 20%;
          width: 60%;
        }

        ul {
          display: flex;
          gap: 1.25em;
          justify-content: space-evenly;
          list-style-type: none;
          margin: 0;
          padding: 0;

          @media (max-width: v.$viewportSmallerest) {
            flex-wrap: wrap;
          }
        }
      }
    }

    main {
      columns: 2 auto;
      clear: left;
      font-size: 1.45rem;
      font-style: italic;
      font-weight: 100;
      line-height: 1em;
      padding-top: 2em;

      @media (max-width: v.$viewportMedium) {
        columns: 1 auto;
        padding-top: 0.5em;
      }

      p {
        text-align: justify;
        margin: 0 0 0.75em 0;
        padding: 0 0.25em;

        @media (max-width: v.$viewportSmallerest) {
          text-align: left;
        }
      }
    }

    footer {
      font-weight: 100;
      margin: 3.125rem 0;
      text-align: center;

      p {
        margin: 0;

        &.logo {
          svg {
            fill: transparent;
            height: 39px;
            padding: 5px;
            stroke-width: 5px;
            stroke: var(--color-accent);
            width: 66.5px;
          }
        }
      }
    }
  }
}

@media print {
  body.br.home {
    header {
      hgroup {
        h1 {
          margin-bottom: 0;
        }

        h2 {
          font-size: 1.25em;
          font-style: italic;
          font-weight: bold;
          margin-top: 0;
        }
      }
    }

    nav {
      img {
        display: none;
      }
    }

    footer {
      p.logo {
        display: none;
      }
    }
  }
}
