<div class="hidden lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full">
    <div class="relative h-full text-lg max-w-prose mx-auto" aria-hidden="true">
        <svg class="absolute top-12 left-full transform translate-x-32" width="400" height="380" fill="none" viewBox="0 0 400 380">
            <defs>
                <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <path class="text-gray-300" fill="currentColor" d="M1.2,3l2.151,2.152c0.195,0.196 0.195,0.512 -0,0.708c-0.196,0.196 -0.512,0.196 -0.708,-0l-2.506,-2.506c-0.196,-0.196 -0.196,-0.512 -0,-0.708l2.506,-2.506c0.196,-0.196 0.512,-0.196 0.708,0c0.195,0.196 0.195,0.513 -0,0.708l-2.151,2.152Zm4.45,-2.152c-0.196,-0.195 -0.196,-0.512 -0,-0.708c0.195,-0.196 0.512,-0.196 0.708,0l2.505,2.506c0.196,0.196 0.196,0.512 0,0.708l-2.505,2.506c-0.196,0.196 -0.513,0.196 -0.708,-0c-0.196,-0.196 -0.196,-0.512 -0,-0.708l2.15,-2.152l-2.15,-2.152Z"/>
                </pattern>
            </defs>
            <rect width="400" height="380" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)" />
        </svg>
        <svg class="absolute top-1/2 right-full transform -translate-y-1/2 -translate-x-32" width="400" height="380" fill="none" viewBox="0 0 400 380">
            <defs>
                <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <path class="text-gray-300" fill="currentColor" d="M1.2,3l2.151,2.152c0.195,0.196 0.195,0.512 -0,0.708c-0.196,0.196 -0.512,0.196 -0.708,-0l-2.506,-2.506c-0.196,-0.196 -0.196,-0.512 -0,-0.708l2.506,-2.506c0.196,-0.196 0.512,-0.196 0.708,0c0.195,0.196 0.195,0.513 -0,0.708l-2.151,2.152Zm4.45,-2.152c-0.196,-0.195 -0.196,-0.512 -0,-0.708c0.195,-0.196 0.512,-0.196 0.708,0l2.505,2.506c0.196,0.196 0.196,0.512 0,0.708l-2.505,2.506c-0.196,0.196 -0.513,0.196 -0.708,-0c-0.196,-0.196 -0.196,-0.512 -0,-0.708l2.15,-2.152l-2.15,-2.152Z"/>
                </pattern>
            </defs>
            <rect width="400" height="380" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
        </svg>
        <svg class="absolute bottom-12 left-full transform translate-x-32" width="400" height="380" fill="none" viewBox="0 0 400 380">
            <defs>
                <pattern id="d3eb07ae-5182-43e6-857d-35c643af9034" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <path class="text-gray-300" fill="currentColor" d="M1.2,3l2.151,2.152c0.195,0.196 0.195,0.512 -0,0.708c-0.196,0.196 -0.512,0.196 -0.708,-0l-2.506,-2.506c-0.196,-0.196 -0.196,-0.512 -0,-0.708l2.506,-2.506c0.196,-0.196 0.512,-0.196 0.708,0c0.195,0.196 0.195,0.513 -0,0.708l-2.151,2.152Zm4.45,-2.152c-0.196,-0.195 -0.196,-0.512 -0,-0.708c0.195,-0.196 0.512,-0.196 0.708,0l2.505,2.506c0.196,0.196 0.196,0.512 0,0.708l-2.505,2.506c-0.196,0.196 -0.513,0.196 -0.708,-0c-0.196,-0.196 -0.196,-0.512 -0,-0.708l2.15,-2.152l-2.15,-2.152Z"/>
                </pattern>
            </defs>
            <rect width="400" height="380" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)" />
        </svg>
    </div>
</div>
